.page {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content {
    padding: 16px;
    display: grid;
    gap: 1rem;
    @media (max-width: 599px){
        grid-template-columns: 1fr;
    }
    @media (min-width:599px) and (max-width: 959px){
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width:960px){
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.loading {
    opacity: 0.5
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}